{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "exclude": [
          "transform-regenerator"
        ],
        "targets": {
          "browsers": [
            "last 2 major versions",
            "not <= 0.5%",
            "not dead",
            "not ios_saf < 11",
            "not safari < 11",
            "not ie >= 0",
            "not edge >= 0",
            "not ie_mob >= 0",
            "not and_uc >= 0",
            "not op_mini all"
          ]
        },
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    "react-intl",
    "transform-react-jsx-img-import",
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
